name: Build and Deploy EV Backend

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login --name ${{ secrets.ACR_NAME }}

      - name: Debug ACR vars
        run: |
          echo "ACR_NAME=${{ secrets.ACR_NAME }}"
          echo "ACR_LOGIN_SERVER=${{ secrets.ACR_LOGIN_SERVER }}"

      - name: Build Docker Image
        run: |
          docker build . -t ${{ secrets.ACR_LOGIN_SERVER }}/ev-backend:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/ev-backend:latest

      - name: Restart App Service
        run: |
          az webapp restart --name ev-backend-api --resource-group rg-ev-prod
